.card-header{
    background-color: #2984ad;
    color: white;
    font-size: 15px;
    font-weight: bold;
    // justify-content: flex-start !important ;
}

// .container{
//     padding-top: 25px;
//     padding-left: 18px;
//     padding-right: 18px;
//     color: white;
//     text-align: right;
//    font-size: larger;
// }

.heading{
    padding-top:10px;
    font-size: x-large;
    color:#135068
}

.dropdown-size{
    font-size: 12px;
    width: 75px;
   
    margin: 0px;
    height: 40px;
}

.currency-text{
    font-size: 12px;
     padding-top: 10px;
    
}

.samerow{
    text-align: end;
   
    
    margin: 0px;
    font-size: 12px;
    font-weight:500 ;
}


.currency-wrap{
    position:relative;
    font-size: 12px;
    min-width: 100px;
}

.currency-code{
    position:absolute;
    left:16px;
    top:10px;
    color: grey;
}

.text-currency{
    padding:10px 20px;
    border:solid 1px #ccc;
    border-radius:5px;
    text-align: right;
    font-size: 12px;
}

.small-text{
    font-size: 12px;
}

.card-content{
    background-color: white;
    padding-top: 5px;
    font-size: 15px;
}

.small-bottom-text{
    font-size: 12px;
    justify-content: end;
    padding-right: 14px;
}
.grey{
    color:grey;
}

.mb-0{
    margin-bottom: 0px !important;
}
//  .mat-grid-tile-content ::ng-deep {
//     justify-content: flex-start !important ;
//     align-items: flex-start !important;
//  }