.card-header{
    background-color: #2984ad;
    color: white;
    font-size: 15px;
    font-weight: bold;
    // justify-content: flex-start !important ;
}

// .container{
//     padding-top: 25px;
//     padding-left: 18px;
//     padding-right: 18px;
//     color: white;
//     text-align: right;
//    font-size: larger;
// }

.heading{
    padding-top:10px;
    font-size: x-large;
    color:#135068
}

.dropdown-size{
    font-size: 12px;
    width: 100px;
   
    margin: 0px;
    height: 40px;
}

.currency-text{
    font-size: 12px;
     padding-top: 10px;
    
}

.samerow{
    text-align: end;
   
    
    margin: 0px;
    font-size: 12px;
    font-weight:500 ;
}



//  .mat-grid-tile-content ::ng-deep {
//     justify-content: flex-start !important ;
//     align-items: flex-start !important;
//  }